{% extends "base.template.html" %}

{% block head %}
<title> {{this.display_name}} | {{blog_title}} </title>
{% endblock %}

{% block main %}

{% with obj=this %}
{% include "parent_tree.template.html" %}
{% endwith %}

<h1> Category: {{this.display_name}} </h1>

<h3> Sub-categories: </h3>
{% for child in children_of(this) %}
<a href="{{this.root_dir}}/{{child.link}}">{{child.display_name}}</a> <br>
{% endfor %}

<h3> Articles: </h3>
{% with articles=find_articles_in(this) %}
{% include "list_of_articles.template.html" %}
{% endwith %}

{% endblock %}
