<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{assets}}/style.css" />
	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<div class="container">
			<h1> {{blog_title}} </h1>
			<nav>
				{% for item in menu_items %}
					{% if this.active_menu_item == item.page %}
						<a href="{{item.link}}" class="active-menu-item">{{item.title}}</a>
					{% else %}
						<a href="{{item.link}}">{{item.title}}</a>
					{% endif %}
				{% endfor %}
			</nav>
		</div>
	</header>
	<div class="container">
		{% block main %}{% endblock %}
	</div>
	<footer>
		<div class="container">
			Powered by <a href="https://pages.github.com">Github Pages</a>
			and <a href="https://github.com/lucawellmeier/octoblog">Octoblog</a>
		</div>
	</footer>

	<script src="{{assets}}/datetime_formatter.js"></script>
</body>
</html>
